Repository cheluen/singbox-proxy-manager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-backend, lint-frontend, test-backend, test-frontend

.gitlab-ci.yml:

stages:
  - lint
  - test
  - build

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE
  DOCKER_TAG: $CI_COMMIT_SHORT_SHA

# Go代码lint检查
lint-backend:
  stage: lint
  image: golang:1.21
  before_script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.61.0
  script:
    - golangci-lint run ./backend/...
  only:
    changes:
      - backend/**/*
      - go.mod
      - go.sum
      - .golangci.yml
    refs:
      - main
      - merge_requests
  allow_failure: false

# 前端ESLint检查
lint-frontend:
  stage: lint
  image: node:18-alpine
  script:
    - cd frontend
    - npm ci
    - npm run lint
  cache:
    key: npm-modules
    paths:
      - frontend/node_modules/
  only:
    changes:
      - frontend/**/*
    refs:
      - main
      - merge_requests
  allow_failure: false

# 后端Go编译测试
test-backend:
  stage: test
  image: golang:1.21
  script:
    - go mod download
    - CGO_ENABLED=0 go build -o main ./backend
    - go test ./backend/... -v
  cache:
    key: go-modules
    paths:
      - /go/pkg/mod/
  only:
    changes:
      - backend/**/*
      - go.mod
      - go.sum
    refs:
      - main
      - merge_requests

# 前端构建测试
test-frontend:
  stage: test
  image: node:18-alpine
  script:
    - cd frontend
    - npm ci
    - npm run build
  cache:
    key: npm-modules
    paths:
      - frontend/node_modules/
  only:
    changes:
      - frontend/**/*
    refs:
      - main
      - merge_requests

# 构建并推送Docker镜像
build-docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE:$DOCKER_TAG -t $DOCKER_IMAGE:latest .
    - docker push $DOCKER_IMAGE:$DOCKER_TAG
    - docker push $DOCKER_IMAGE:latest
  only:
    - main
  when: on_success
  needs:
    - job: test-backend
      optional: true
    - job: test-frontend
      optional: true

# 带版本标签的发布构建
build-release:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_TAG .
    - docker push $DOCKER_IMAGE:$CI_COMMIT_TAG
  only:
    - tags

# 构建FreeBSD可执行文件
build-freebsd:
  stage: build
  image: golang:1.21
  script:
    - go mod download
    - GOOS=freebsd GOARCH=amd64 CGO_ENABLED=0 go build -o singbox-proxy-manager-freebsd-amd64 ./backend
  artifacts:
    name: "singbox-proxy-manager-freebsd-$CI_COMMIT_SHORT_SHA"
    paths:
      - singbox-proxy-manager-freebsd-amd64
    expire_in: 30 days
  only:
    - main
    - tags

# 构建Linux可执行文件（不依赖Docker）
build-linux:
  stage: build
  image: golang:1.21
  script:
    - go mod download
    - GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o singbox-proxy-manager-linux-amd64 ./backend
  artifacts:
    name: "singbox-proxy-manager-linux-$CI_COMMIT_SHORT_SHA"
    paths:
      - singbox-proxy-manager-linux-amd64
    expire_in: 30 days
  only:
    - main
    - tags

feat: 替换SQLite为纯Go实现，支持跨平台编译
  .gitlab-ci.yml
  Dockerfile
  README.md
  backend/api/handlers_test.go
  backend/main.go
  go.mod
  go.sum
Due: lint-backend, test-backend

ci: 添加自动发布到GitLab Releases
  .gitlab-ci.yml
Due: none

ci: 添加自动发布功能，每次push到main自动创建tag和release
  .gitignore
  .gitlab-ci.yml
Due: none

fix: 修复sing-box下载，FreeBSD改为源码编译
  .gitlab-ci.yml
Due: none

fix: 升级Go版本到1.23以支持sing-box编译
  .gitlab-ci.yml
Due: none

fix: release job不下载artifacts避免意外执行
  .gitlab-ci.yml
Due: none

fix: 修复发布包前端目录结构
  .gitlab-ci.yml
Due: none

fix: 移除release-binaries job避免与auto-release冲突
  .gitlab-ci.yml
Due: none

fix
  .gitignore
  CLAUDE.md
Due: none

ci: 添加GitHub Actions工作流
  .github/workflows/ci.yml
Due: none

fix: 添加packages:write权限修复Docker镜像推送
  .github/workflows/ci.yml
Due: none

feat: 并发测速/导出/备注/Turso/版本
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  backend/api/handlers.go
  backend/main.go
  backend/models/proxy.go
  backend/services/sharelink.go
  backend/services/sharelink_export.go
  backend/services/singbox.go
  docker-compose.yml
  frontend/src/App.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/NodeForm.jsx
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  go.mod
  go.sum
  internal/version/version.go
  internal/version/version.txt
Due: lint-backend, lint-frontend, test-backend, test-frontend

fix: 安全修复与依赖升级
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Dockerfile
  backend/api/handlers.go
  backend/services/ipcheck.go
  backend/services/singbox.go
  go.mod
  go.sum
  internal/version/version.txt
Due: lint-backend, test-backend

fix(ci): upgrade golangci-lint to v2
  .github/workflows/ci.yml
  .golangci.yml
  backend/api/handlers.go
  backend/services/singbox.go
Due: lint-backend, test-backend

feat: 提升测速并支持 Turso/导出等
  .gitlab-ci.yml
  backend/api/handlers.go
  backend/main.go
  backend/services/ipcheck.go
  backend/services/singbox.go
  frontend/package-lock.json
  frontend/package.json
  internal/version/version.txt
Due: lint-backend, lint-frontend, test-backend, test-frontend

docs: 更新 README(远程数据库与协议支持)
  README.md
Due: none

支持 direct 本地直连节点
  backend/models/proxy.go
  backend/services/singbox.go
  frontend/src/components/NodeForm.jsx
Due: lint-backend, lint-frontend, test-backend, test-frontend

feat: 备注折叠与导入自动测速
  backend/api/handlers.go
  backend/api/handlers_test.go
  backend/main.go
  frontend/src/components/Dashboard.jsx
  frontend/src/components/NodeForm.jsx
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  internal/version/version.txt
Due: lint-backend, lint-frontend, test-backend, test-frontend

fix: 修复编辑节点弹窗继承上次数据
  frontend/src/components/Dashboard.jsx
Due: lint-frontend, test-frontend

feat: 管理面板安全加固与并发优化
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Dockerfile
  README.md
  backend/api/auth_sessions.go
  backend/api/credentials.go
  backend/api/handlers.go
  backend/api/login_limiter.go
  backend/main.go
  backend/models/proxy.go
  docker-compose.yml
  frontend/src/components/Login.jsx
  frontend/src/components/SettingsForm.jsx
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  internal/version/version.txt
Due: lint-backend, lint-frontend, test-backend, test-frontend

feat: 管理员密码重置、会话168h与构建诊断
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Dockerfile
  backend/api/auth_sessions.go
  backend/api/auth_sessions_test.go
  backend/models/proxy.go
  backend/models/proxy_test.go
  internal/version/version.txt
Due: lint-backend, test-backend

docs: add dashboard-first deploy guides for Zeabur and ClawCloud
  README.md
  deploy/clawcloud/app-launchpad-template.yaml
  deploy/zeabur/template.yaml
Due: none
